# Django
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True

# PostgreSQL (Docker-compose)
POSTGRES_DB=nombre_db
POSTGRES_USER=usuario_db
POSTGRES_PASSWORD=contraseña_db

#PGADMIN (Docker-compose)
PGADMIN_DEFAULT_EMAIL=email_aqui
PGADMIN_DEFAULT_PASSWORD=password_aqui

#Email (SMTP)
EMAIL_HOST=host_de_servidor_aqui
EMAIL_PORT=puerto_de_servidor_aqui
EMAIL_USE_TLS=valor_booleano_aqui
EMAIL_HOST_USER=usuario_host_aqui
EMAIL_HOST_PASSWORD=contraseña_de_app (o API key)
DEFAULT_FROM_EMAIL=Nombre <noreply@tudominio.com>