{% extends 'base.html' %}

{% load static %}

{% block title %}Email Enviado | Practicasa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'usuarios/css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="container-xl flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4 glass-card p-4 rounded-5 shadow-lg animacion-aparicion-abajo-fade card-auth text-center">
        <h2 class="mb-4">Revisá tu correo</h2>
        <p>Te enviamos un enlace para restablecer tu contraseña. Si no lo recibís en unos minutos, revisá tu carpeta de spam.</p>
        <a href="{% url 'login' %}" class="btn btn-enviar text-white fw-bold mt-3">Volver a Iniciar Sesión</a>
    </div>
</section>
{% endblock %}
