{% extends 'base.html' %}

{% load static %}

{% block title %}Contraseña Actualizada | Practicasa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'usuarios/css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="container-xl flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4 glass-card p-4 rounded-5 shadow-lg animacion-aparicion-abajo-fade card-auth text-center">
        <h2 class="mb-4">Contraseña actualizada</h2>
        <p>Tu contraseña se cambió correctamente.</p>
        <a href="{% url 'login' %}" class="btn btn-enviar text-white fw-bold mt-3">Iniciar Sesión</a>
    </div>
</section>
{% endblock %}
