{% extends 'base.html' %}

{% load static %}

{% block title %}Registro | Practicasa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'usuarios/css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="container-xl flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4 glass-card p-4 rounded-5 shadow-xxl animacion-aparicion-abajo-fade card-auth">
        <h2 class="text-center mb-4">Crear Cuenta</h2>
        <form method="post" id="form" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group has-validation mb-3 border-0">
                    <div class="form-floating mb-1 w-100">
                        {{ field }}
                        <label for="{{ field.widget.attrs.id }}">{{ field.label }}</label>
                    </div>
                    <div class="invalid-feedback" id="{{ field.name }}-error"></div>
                </div>
            {% endfor %}
            <div class="alert alert-danger py-2 text-center d-none" id="non-field-errors"></div>
            <button class="btn btn-enviar text-white fw-bold w-100 mt-2" type="submit" id="btn-submit">
                <span class="btn-text" id="btn-text">Crear Cuenta</span>
                <span class="spinner-border spinner-border-sm d-none text-black" role="status" id="btn-spinner"></span>
            </button>
        </form>
        <p class="text-center mt-3 mb-3">
            ¿Ya tenés cuenta? <a href="{% url 'login' %}">Iniciá Sesión</a>
        </p>
        <p class="text-center mt-2">
            <a href="{% url 'password_reset' %}" class="small text-black">¿Olvidaste tu contraseña?</a>
        </p>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="module" src="{% static 'usuarios/js/authForms.js' %}"></script>
{% endblock %}
