.card-contacto {
    background: linear-gradient(135deg, #FDE3D4 0%, #F5C6A0 50%, #EAA57C 100%);
}

.btn-enviar{
    background-color: var(--black);
    transition: color 0.5 ease, background-color 0.5 ease !important;
}

.btn-enviar:hover{
    background-color: green;
}

.btn-enviar:active {
    background-color: #063816 !important;
    border-color: transparent !important;
}

.btn-enviar:disabled {
    opacity: 1 !important;
    cursor: not-allowed;
    background-color: var(--secondary-color) !important;
    border: none;
}